/* GLOBAL BEGIN */

body {
    background-image: url(/images/nza_background.jpg);
    background-repeat: none;
    background-size: cover;

}

/* GLOBAL END */

.container {
    background-color: white;
}

/* HEADER BEGIN */

.col-4 {
    margin-top: 40px;
}

.button1 {
    justify-content: flex-end;
}

nav .links {
    margin: 40px 0;
}

nav .links ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav .links ul li {
    display: inline-block;
    padding: 0 7px;
    position: relative;
}

nav .links ul li:not(:last-child)::after {
    content: "";
    border: 1px solid #e2e2e2;
    border-width: 4px 4px 0 0;
    position: absolute;
    right: -3px;
    top: 0;
    height: 100%;
}

nav .links ul li a {
    color: black;
    padding: 0 30px 0 30px;
    max-width: 100%;
    margin: 0 9.4px 0 9.4px;
    justify-content: space-around;
}

/* HEADER END */

/* MAIN BEGIN */

.United-States ul {
    columns: 3;
}

.work-bar {
    background-image: url(/images/nav_side.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.work-bar {
    color: white;
    margin-left: 20px;
}

.work {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.work h3 {
    padding-top: 20px;
    font-size: 24px;
}
.work p {
    font-size: 12px;
}
.work hr {
    border-color: white;
}

.work-bar img {
    padding-left: 5px;
}

.work-bar {
    padding: 0 0 0 15px;
}

.work-bar #career {
    padding-bottom: 10px;
}

#career p {
    font-size: 12px;
}

.United-States h4 {
    font-size: 18px;
    font-weight: 200;
}

.United-States ul {
    list-style-type: none;
}

.international h4 {
    font-size: 18px;
    font-weight: 200;
}

.international ul {
    list-style-type: none;
}

.international ul li {
    text-align: start;
}

.United-States hr {
    border-color: lightgray;
}

.international hr {
    border-color: lightgray;
}



/* MAIN END */


/* FOOTER BEGIN */

hr {
    border-top: 2px solid black;
}

.footer-links ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.footer-links ul li {
    display: inline-block;
    position: relative;
}

.footer-links ul li a {
    color: black;
    opacity: 50%;
    padding: 0 20px;
}

.copyright p {
    text-align: center;
    padding: 10px 0;
    font-weight: 200;
}

span {
    margin-bottom: 10px;
}



/* FOOTER END */